spring:
  application:
    name: facturacion-service
  datasource:
    url: jdbc:h2:mem:facturacion_db
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
    show-sql: true

flyway:
  enabled: true
  locations: classpath:db/migration

server:
  port: 8083
